QLabel {
  color: #59A5D8;
  font-size: 18px;
}

QWindow {
  background-color:rgb(255, 255, 255);
}

QWidget {
  background-color:rgb(255, 255, 255);
}

QPushButton {
  background-color: #84D2F6;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #59A5D8;
  padding: 5px 15px;
  margin-top: 10px;
  outline: 0px;
}

QPushButton:focus {
  background-color: #84D2F6;
  border: 3px solid #84D2F6;
}

QMenu {
  background-color:rgb(255, 255, 255);
  border: 3px solid #84D2F6;
}

QMenu::item {
  color: #59A5D8;
}

QMenu::item:selected {
  background-color: #231DC4;
}